@font-face {
    font-family: 'MonasterArabic';
    src: url('fonts/MonasterArabic.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'MonasterArabic', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-principal {
    background-image: url('fondoo.jpg.jpg');
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.menu {
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: black;
    color: white;
}

.subpagina {
    background-color: #fefefe;
    color: #222;
    padding: 2rem;
    font-size: 18px;
}

.volver {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.contenido {
    max-width: 600px;
}
